@media only screen and (max-width: 1192px){

    .infos{
        font-size: 15px;
    }

    .header-text{
        margin-top: 50%;
        font-size: 16px;
        padding: 10px;
    }

    .header-text h1{
        font-size: 40px;
        margin-top: 20px;
    }

    .header-text p{
        font-size: 14px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
        cursor: pointer;
        color: aliceblue;
    }
    nav ul{
        background:#01a0b5f6;;
        position: fixed;
        top: 0;
        right: -300px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.8s;
    }

    nav ul li a:hover{
        color: aliceblue;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-xmark{
        position: absolute;
        top: 25px;
        left: 25px;
    }

    p{
        font-weight: normal;
        font-size: 20px;
    }

    .navigation{
        flex-direction: column;
    }


    .p-sobre {
        font-size: 16px;
    }

    .col-lg-4>h2{
        font-size: 22px;
    }
}

@media only screen and (max-width: 990px){
    .icon{
        width: 20%;
        margin-bottom: 1rem;
    }
}
