*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

:root {
    --blue: #01a0b5;
    --blue-darker: #000f55;
    --white: #ffffff;
    --skin: #e5decc;
    --black: #242424;
}

h1{
    font-weight:900;
}

p{
    font-weight:lighter;
    font-size: 20px;
}

body{
    background-color: var(--white);
    background-image:url(/assets/bg.jpg) ;
    background-size: cover;
    color: var(--black);
}

#header{
    width: 100%;
    height:90px;
    background-color:var(--white);
    position:sticky;
    top: 0;
    z-index:9999;
}

.listra{
    display: flex;
    background-color: var(--blue);
    width: 100%;
    height: 6px;
    justify-content: flex-end
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 200px;
    margin-top: 20px;
    padding: 5px;
}

a:hover{
    text-decoration: none;
    color:var(--blue);
    font-weight: 600;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    margin-top: 40px;

}

nav ul li a{
    text-decoration: none;
    font-size: 16px;
    position: relative;
    font-weight:500;
    color: var(--black);
}


/*--------------sobre------------*/
#quemsomos{
    padding: 80px 0px;
    color:var(--black)
}

.somos{
    margin-bottom: 40px;
}

.bar{
    background: var(--blue);
    height: 5px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

span{
    color: var(--blue);
    font-weight: 700;
}

.sobre-col-1{
    flex-basis: 35%;
    margin-bottom: 40px;
}

.sobre-col-1 img{
    width: 100%;
}

.sobre-col-2{
    flex-basis: 60%;
}

.p-sobre{
    font-size: 20px;
}

/*--------------logos clientes------------*/

#clientes {
    padding-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2%;
    justify-content: center;
    margin-bottom: 40px;
}
  
.square{
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    padding: 1%;
    background-color:var(--blue);
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out;
}

.square:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 8px var(--blue);
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


/*--------------Contato------------*/

.contato{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contato_form{
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}

#contato_form div{
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 10px auto;
    flex-direction: row;
}

#contato_form div iframe{
    width: 100%;
    height: 500px;
    transition: all 0.5s ease-in-out;
}

#contato_form div iframe:hover{
    transform: scale(1.1);
}

#contato_form form{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--black);
    flex-direction: column;
}

input, textarea{
    transition: 0.2s ease-in-out ;
}

input:focus, textarea:focus{
    border:2px solid var(--blue);
    box-shadow: 1px 1px 8px var(--blue);
}

input, textarea{
    width: 400px;
    padding: 15px;
    outline: none;   
}

input[type="submit"]{
    width: 400px;
    padding: 10px;
    font-size: 25px;
    transition: all 0.8s ease;
    background-color: var(--blue);
    color: var(--white);
    border: none;
}

input[type="submit"]:hover{
    cursor: pointer;
    opacity: 0.8;
    box-shadow: #242424;
    box-shadow: 1px 1px 8px var(--blue);
}


/*--------------Footer------------*/
footer{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #01a0b5;
    margin-top: 30px;
    color: aliceblue;
}

.fa-brands{
    font-size: 1.8em;
    padding: 0.5em;
    text-decoration: none;
    color: #f1f2f7;
}

.fa-brands:hover{
    color: var(--blue-darker);
}

.contatos{
    color:#f1f2f7;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contatos a{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    padding: 12px;
    justify-content: center;
    font-size: small;
    color: var(--white);
}

.contatos a:hover{
    color:var(--blue-darker);
}


.copyright p{
    font-size: 16px;
}

nav .fa-solid{
    display: none;
}

.fa-solid{
    font-size: 22px;
    padding-right: 12px;
    padding-top: 4px;
}